.card-wrapper {
  padding: 17px 0 18px 0;
  border: 1px solid #000;
  max-width: 780px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.row2 {
  display: flex;
  justify-content: space-between;
}

.request-cta {
  display: flex;
  align-items: center;
}

.request-cta .icon1,
.request-cta .icon2 {
  padding: 0 20px 0 20px;
}

.request-cta .icon1 {
  border-right: 2px solid;
}

.btn {
  padding: 5px 7px;
  cursor: pointer;
}

.btn-reject {
  border: 1px solid #000;
  margin-right: 10px;
}
.btn-reject:hover {
  background-color: grey;
}

.btn-auth:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-auth {
  background-color: #4d6474;
  color: #fff;
}

.text1 {
  font-size: 20px;
  color: #252525;
  font-weight: 500;
  margin: 0;
}

.text2 {
  font-size: 12px;
  line-height: 15px;
  color: #252525;
  font-weight: 500;
  margin: 0;
}

.reqblock {
  border-left: 1px solid #000;
  padding: 0 25px 0 10px;
}

.req-parent {
  display: flex;
  align-items: center;
}

.reqblock p {
  margin: 0;
}

.req-header {
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.req-detail {
  font-size: 12px;
  line-height: 15px;
  color: #252525;
  font-weight: 500;
}

.full-details {
  text-decoration: underline;
  padding-right: 6px;
  cursor: pointer;
}
